$white: #ffffff;
$black: #000000;
$blue: #003399;
$lightblue: #3160F3;
$darkgrey: #26282f;
$red: #e62e00;
$lightred: #991f00;

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.container {
  max-width: unset !important;
  height: 100vh;
}

.header {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/nasa-image-metadata.appspot.com/o/global-header_bg.jpg?alt=media&token=4d7313dd-ddbe-4c05-94f3-30b829ac8387");
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 2px solid $black;

  .header-flex-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    .copy{
      color: $white;
      font-size: 18px;
      font-weight: 300;
      margin-right: 10px;
    }
    .image {
      img {
        width: 100%;
        max-width: 150px;
      }
    }
  }
  a:hover {
    text-decoration: none;
    .image, .copy {
      transform: scale(1.1);
    }
  }
}

.learnmore-cta {
  background-color: $blue;
  color: $white;
  text-align: center;
  padding: 10px 25px 10px 25px;
  display: inline-block;
  margin: 25px 10px 0 10px;
  border-bottom: 2px solid $black;
  border-radius: 4px;
}

.learnmore-cta:hover {
  background-color: $lightblue;
}

.learnmore-cta-earth {
  background-color: $red;
  color: $white;
  text-align: center;
  padding: 10px 25px 10px 25px;
  display: inline-block;
  margin: 25px 10px 0 10px;
  border-bottom: 2px solid $black;
  border-radius: 4px;
}

.learnmore-cta-earth:hover {
  background-color: $lightred;
  transform: scale(1.1);
}

.partial {
  background-color: $darkgrey;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $white;

  h1 {
    margin-bottom: 30px;
    font-size: 26px;
  }

  .astronaut {
    img {
      width: 100%;
      max-width: 350px;
    }
    margin-bottom: 30px;
  }

  .table {
    color: $white;
    a {
      color: $white;
    }
    th {
      border: none;
    }
    tr {
      display: flex;
    }
    td {
      flex: 1;
      img {
        width: 100%;
        max-width: 400px;
      }
      .caption {
        margin-top: 10px;
      }
    }
  }

  .image-page-wrapper {
    .image-header {
      a {
        color: $white;
      }
    }
    .flex-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      @media only screen and (max-width: 575px) {
        display: block;
      }
      .left {
        .img-left {
          max-width: 600px;
        }
        .img-caption {
          margin: 15px auto;
        }
        img {
          width: 100%;
        }
        @media only screen and (max-width: 575px) {
          text-align: left;
        }
      }
      .right {
          .keyword-label {
            background-color: $red;
            color: $white;
            text-align: center;
            padding: 5px;
            display: inline-block;
            margin: 5px;
            border-radius: 4px;
            display: inline-block;
          }
      }
    }
  }
  .notfound-image-page-wrapper {
    background-image: url("https://media.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif");
    background-color: $darkgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid $black;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}