$white: #ffffff;
$black: #000000;
$blue: #0837CB;
$lightblue: #3160F3;
$darkgrey: #26282f;

.container {
  max-width: unset !important;
  height: 100vh;
}

.header {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/nasa-image-metadata.appspot.com/o/global-header_bg.jpg?alt=media&token=4d7313dd-ddbe-4c05-94f3-30b829ac8387");
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 2px solid $black;

  .header-flex-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    .copy{
      color: $white;
      font-size: 18px;
      font-weight: 300;
      margin-right: 10px;
    }
    .image {
      img {
        width: 100%;
        max-width: 150px;
      }
    }
  }
}

.partial {
  background-color: $darkgrey;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $white;

  h1 {
    margin-bottom: 30px;
    font-size: 26px;
  }

  .astronaut {
    img {
      width: 100%;
      max-width: 350px;
    }
    margin-bottom: 30px;
  }

  .table {
    color: $white;
    a {
      color: $white;
    }
    th {
      border: none;
    }
    tr {
      display: flex;
    }
    td {
      flex: 1;
      img {
        width: 100%;
        max-width: 400px;
      }
      .caption {
        margin-top: 10px;
      }
      .learnmore-cta {
        background-color: $blue;
        color: $white;
        text-align: center;
        padding: 12px 30px;
        display: inline-block;
        margin: 25px 10px 0 10px;
        box-shadow: 5px 5px $black;
      }

      .learnmore-cta:hover {
        background-color: $lightblue;
      }
    }
  }

  .image-page-wrapper {
    .image-header {
      a {
        color: $white;
      }
    }
    .flex-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      @media only screen and (max-width: 575px) {
        display: block;
      }
      .left {
        .img-left {
          max-width: 600px;
        }
        .img-caption {
          margin: 15px auto;
        }
        img {
          width: 100%;
        }
        @media only screen and (max-width: 575px) {
          text-align: left;
        }
      }
      .right {
          .keyword-label {
            background-color: $blue;
            color: $white;
            text-align: center;
            padding: 2px 15px;
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
          }
      }
    }
  }
}